.listComp {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1,
h2 {
  color: royalblue;
  font-weight: bolder;
}

mat-list {
  background-color: lightblue;
  border-radius: 10px;
}
